.output {
    background-color : silver;
    overflow : auto;
    font-weight: bold;
    white-space: normal;
    width: 50%;
}

#container {
    white-space: nowrap;
    max-width: 500px;
}

#left {
    float : left;
}

#right {
    float : right;
}

